<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902079216217-tbqqb2v9qlvvuajsmf1t64710e3aej1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902079216217-tbqqb2v9qlvvuajsmf1t64710e3aej1k</string>
	<key>API_KEY</key>
	<string>AIzaSyBJp9azpYAEsK-MiNsDY0CPclOIE5XdFiU</string>
	<key>GCM_SENDER_ID</key>
	<string>902079216217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginAndRegister</string>
	<key>PROJECT_ID</key>
	<string>login-d92c6</string>
	<key>STORAGE_BUCKET</key>
	<string>login-d92c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902079216217:ios:5e97837cba6025c3704f48</string>
</dict>
</plist>